<h1>Hire Employee</h1>

<% form_for @employees do |f|%>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.label :title %>
<%= f.text_field :title %>
<%= f.label :name %>
<%= f.text_field :name %>

