<% if flash[:errors] %>
    <% flash[:errors].each do |e| %>
        <%= e %><br>
    <% end %>
<% end %>
<br>
<%= form_for @building do |f| %>
<%= f.label :name %>
<%= f.text_field :name %><br>
<br>
<%= f.label :country %>
<%= f.text_field :country %><br>
<br>
<%= f.label :address %>
<p><%= f.text_area :address %></p>

<%= f.label :rent_per_floor %>
<%= f.text_field :rent_per_floor %><br>
<br>
<%= f.submit %>

<% end %>