<h1><%= @building.name %></h1>
<br>
<p>Country: <%= @building.country %></p>
<p>Address: <%= @building.address %></p>
<p>Rent Per Floor: $<%= @building.rent_per_floor %></p>
<p>Number of Floors: <%= @building.number_of_floors %></p>
<p>Total Rent: $<%= @building.total_rent %></p>
<br>

<ul>
<% @building.companies.uniq.each do |company| %>
    <li><%= company.name %></li>
<% end %>
</ul>